<div class="mod-settings-content p-4 config-content">
  <div class="p-4 rounded-lg">
    <div class="grid grid-cols-2 gap-4 mb-4">
      <div
        class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-700"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Disable Mod</p>
      </div>
      <div
        class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-700"
      >
        <p class="text-2xl text-gray-400 dark:text-gray-500">Enable Debug</p>
      </div>
    </div>
  </div>
</div>
